/* GLobal Styles */
body {
    background-color:dodgerblue;
    
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color:dodgerblue;
    text-decoration: none;
    
}

a:hover {
    color:black;
    text-decoration: none;
}

#container {
    background-color:lightgray;
    width: 75%;
    margin: 20px auto;
    border-radius: 20px;
}

h1, h2, h3 {
    text-align: center;
    color:black;
    font-family: "Roboto", sans-serif;
}

/* Mobile Styles */

nav {
    background-color:white;
    padding: 10px 0;
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display:block;
    height: 40px;
    line-height: 40px;
    color: darkseagreen;
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

}
nav li a:hover {
    color: dodgerblue;
}

header h1 {
    font-size: 35px;
    color: darkseagreen;
    text-shadow: 2px 2px 2px white;
    font-family: "Pacifico", cursive;
}


main {
    padding: 10px;
    margin: 10px 0;
}

main img {
    width: 60%;
}

#lower {
    padding: 10px
}

.col {
    border: 2px solid black;
    padding: 10px;
}

footer {
    padding: 40px 0;
    text-align: center;
}

hr {
    width: 95%;
}

.button {
    display: block;
    margin: 10px auto;
    text-align: center;
    background-color: darkseagreen;
    width: 125px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border: 2px solid darkseagreen;
    border-radius: 10px;
    font-weight: bold;
    
}

.button:hover {
    color: white;
}

#xpacs {
    display: flex;
}

.xpaccover {
    margin: 5px;

}

.xpaccover img {
    width: 100%;
}

#ending {
    display:flex;
}

.endingcover {
    margin: 5px;
}

.endingcover img {
    width: 100%;
}

/* Tablet Styles */

@media(min-width: 786px) {
    nav {
        text-align:center;
    }

    nav li {
        display:inline-block;
    }

    nav li a {
        width: 200px;
        padding: 10px;
        margin: 10px;
    }

    main img {
        width: 60%;
    }

    .col img {
        width: 75%;
    }
}

/* Desktop Styles */

@media (min-width: 1024px) {
    nav {
        background-color:white;
        padding: 20px 0;
        text-align:center;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    
    nav li {
        display:inline-block;
        width: 20px;
    }
    
    nav li a {
        color: darkseagreen;
        margin-inline: 60px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        margin: 30px;
        border: 5px solid darkseagreen;
        border-radius: 10px;
        width: 130px;
    
    }
    nav li a:hover {
        color: dodgerblue;
    }
    
    header h1 {
        font-size: 100px;
        color: darkseagreen;
        text-shadow: 2px 2px 2px white;
        font-family: "Pacifico", cursive;
    }
    
    
    main {
        padding: 20px;
    }
    
    main img {
        width: 40%;
    }
    
    #lower {
        display: flex;
    }
    
    .col {
        padding: 10px;
        margin: 10px;
        border: 2px solid darkseagreen;
        width: 33.33%;
        /*border-radius: 10px;*/
    }
    
    footer {
        padding: 40px 0;
        text-align: center;
    }
    
    hr {
        width: 95%;
    }
    
    .button {
        display: block;
        background-color: darkseagreen;
        width: 115px;
        height: 30px;
        color: black; 
        text-decoration: none;
        text-align: center;
        line-height: 35px;
        margin-top: 10px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .button:hover {
        color: white;
    }
    
    #xpacs {
        display: flex;
    }
    
    .xpaccover {
        margin: 5px;
    
    }
    
    .xpaccover img {
        width: 100%;
    }
    
    #ending {
        display:flex;
    }
    
    .endingcover {
        margin: 5px;
    }
    
    .endingcover img {
        width: 100%;
    }
    
}
    
